{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
		<p class="text-align-center">Es una historia muy larga! ¿Tienes tiempo? Te quedas un ratete para que te lo contemos</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>
		<p class="text-align-center">Bla bla bla bla bla bla</p>

	</div>
	
</div>

{% endblock %}